@font-face {
  font-family: 'iconfont';  /* project id 1423702 */
  src: url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.eot');
  src: url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.woff') format('woff'),
  url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1423702_b2nusp3cdhe.svg#iconfont') format('svg');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}